@import url('varibables.css');
@import url('navbar.css');
@import url('componentes.css');
@import url('footer.css');
@import url('secctios/hero.css');
@import url('secctios/beneficios.css');
@import url('secctios/cobertura.css');
@import url('secctios/planes.css');
@import url('secctios/funciona.css');
@import url('secctios/testimonios.css');
@import url('secctios/faq.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
    background: radial-gradient(circle at top, #0b1120 0, #020617 45%, #000 100%);
    color: var(--text-main);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}